---
apiVersion: v1
data:
  ALLOW_EMPTY_PASSWORD: "yes"
  CROCODILE_GAME_BOT_TOKEN: {{.Values.botToken}}
  CROCODILE_GAME_DB_HOST: postgresql
  CROCODILE_GAME_DB_NAME: postgres
  CROCODILE_GAME_DB_PORT: "5432"
  CROCODILE_GAME_DB_SSLMODE: disable
  CROCODILE_GAME_DB_USER: postgres
  CROCODILE_GAME_LOGLEVEL: {{.Values.logLevel}}
  CROCODILE_GAME_WEBHOOK: {{.Values.webhookAddr}}{{.Values.webhookPath}}
  POSTGRES_PASSWORD: {{.Values.postgresPassword}}
  REDIS_HOST: redis:6379
  GITHUB_NAME: {{.Values.githubName}}
  GITHUB_TOKEN: {{.Values.githubToken}}
kind: ConfigMap
metadata:
  creationTimestamp: null
  labels:
    environment: {{.Values.env}}
    io.kompose.service: env
  name: env
